<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="save()">
            Save
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-button (click)="close()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Add new task</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]="title" type="text" placeholder="Enter title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Text</ion-label>
      <ion-input [(ngModel)]="text" type="text" placeholder="Enter text" required></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
